<a href="https://colab.research.google.com/github/RajRover/ML_Projects/blob/main/Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [4]:
heart_data=pd.read_csv('/content/heart.csv')
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
heart_data.shape

(303, 14)

In [6]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
heart_data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [9]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=2)

In [15]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(242, 13) (61, 13) (242,) (61,)

In [16]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [19]:
def compare_models_test():
  for model in models:
    model.fit(X_train, Y_train)
    test_data_pred=model.predict(X_test)
    accuracy=accuracy_score(Y_test,test_data_pred)
    print(accuracy)

In [21]:
compare_models_test()

0.8032786885245902
0.819672131147541
0.6229508196721312
0.7377049180327869

Cross Validation

In [23]:
cv_score=cross_val_score(LogisticRegression(max_iter=1000), X , Y , cv=5)
print(cv_score)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]

In [24]:
mean_accuracy=sum(cv_score)/len(cv_score)
mean_accuracy=mean_accuracy*100
mean_accuracy=round(mean_accuracy,2)
print(mean_accuracy)

82.83

In [26]:
cv_score=cross_val_score(SVC(kernel='linear'), X , Y , cv=5)
print(cv_score)
mean_accuracy=sum(cv_score)/len(cv_score)
mean_accuracy=mean_accuracy*100
mean_accuracy=round(mean_accuracy,2)
print(mean_accuracy)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

In [27]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [28]:
def compare_models_cross_validation():
  for model in models:
    cv_score = cross_val_score(model, X,Y, cv=5)
    mean_accuracy=sum(cv_score)/len(cv_score)
    mean_accuracy=mean_accuracy*100
    mean_accuracy=round(mean_accuracy,2)
    print(mean_accuracy)

In [29]:
compare_models_cross_validation()

82.83
82.83
64.39
80.85